@media only screen and (max-width: 1400px) {
  .room #rooms-iphone, .room #right, #top-right-svg{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
    body::-webkit-scrollbar {
      display: none;
    }

    body {
      overflow-x: hidden;
    }


    nav #nav-button {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    nav #nav-button label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }

    nav #nav-button label:hover, .nav #nav-check:checked ~ #nav-button label {
    background-color: rgba(0, 0, 0, 0.3);
    height: 25px;
    }

    nav #nav-button label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
    }

    nav .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    }

    nav .nav-links a {
    display: block;
    width: 100%;
    }

    nav #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }

    nav  #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }

    section{
      width: 100%;
    }


    .left-outline img {
      max-width: 60%;
      height: auto;
      width: auto;
    }

    .left-outline video {
      max-width: 50%;
      height: auto;
      width: auto;
    }

    .image-right-outline video {
      max-width: 85%;
      height: auto;
      width: auto;
    }

    .image-right-outline img {
      max-width: 100%;
      height: auto;
      width: auto;
    }

    .left-outline-join p, .section p {
      font-size: 20px;
      /* line-height: 20px; */
    }

    .container {
      width: 100% !important;
    }

  /* #people {
    display: none;
  } */

  #top-right-svg {
    display: none;
  }


  .section h1 {
    font-size: 60px;
  }

  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */

  /*  */
  /*  */
  /*  */


  #room-text h1 {
    font-size: 50px;
  }

  .room {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    /* top: -30px; */
    padding-top: 0;
    /* border: solid 2px red; */
  }

  #learn-more{
    margin-top: 40px;
    /* border: solid 2px red; */
  }

  #right {
    display: none;
  }

  /* Purpose */
  .purpose {
    /* Nav bar */
    padding-top:30px;
    height: 100vh;
    /* background-color: #28b954;
    width: 100%; */
    /* border: solid 2px red; */
    background: url('images/squiggle-top-white.svg') no-repeat;
    background-size: cover;
  }

  #purpose-content{
    /* border: solid 2px red; */
    padding-left: 10%;
    width: 80%;
  }

  #purpose-content h1{
    font-size: 2em;
  }

  #purpose-content h2:first-of-type{
    padding-top:-10px;
  }

  #purpose-content h2{
    /* border:solid 2px red; */
    /* font-size: 80px; */
    font-size: 17vw;
    line-height: 23px;
  }

  #purpose-section img {
    max-width: 95%;
    height: auto;
    width: auto;
  }

  #combined{
    /* left:15%; */
    top:160vh;
  }


/* 2 WORKS */
  .works {
    /* background-color: #28b954;
    width: 100%; */
    background: url('images/squiggle-bottom-white.svg') no-repeat;
    background-size: cover;
    height: 95vh;
    /* border: solid 2px red; */
  }

  #works{
    text-align: right;
    padding-left: 5%;
    padding-right:5%;
    /* border: solid 2px red; */
    color:white;
    margin-top: 35%;
  }

  #works h1{
    font-size: 45px;
    line-height: 20px;
    margin-bottom: 0px;
    /* border: solid  2px black; */
  }

  #works p{
    color:white;
    font-size: 20px;
    line-height: 40px;
  }


  .image-right-outline {
    margin: 0;
  }

  #people{
    padding-right: 0;
    position: absolute;
    top:60vh;
    /* left: 0; */
    max-width: 80%;
    /* display: none; */
    /* border: solid 2px red; */
  }


/* ANIMATION  */
#host-and-join{
  height: 150vh;
  /* border: solid 2px red; */
}

.join-or-host{
  display: none;
}



#host-video{
  top: 380vh;
  height: 80vh;
  /* border: solid 2px purple; */
  position: absolute;
}


#host-text{
  text-align: left;
}



/* JOIN */

#left-side{
  width: 100%;
}


.text-left-contents-join{
  padding-top: 0;
}

.section p{
  line-height: 45px;

}

#left-side {
  /* border: solid 2px red; */
  top: 460vh;
  width: 100%;
  display: block;
  height: 70vh;
}


#right-side{
  /* border: solid 2px black; */
  top: 535vh;
  /* width: 100%; */
  display: block;
  z-index: -1;
  height: 80vh !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


#right-side img{
  max-width: 60%;
}

#right-side video{
  max-width: 50%;
}

#host-not, #join-selected{
  display: none;
}















/* VOTE TO SKIP */
#vote-to-skip{
  position: absolute;
  /* display: none; */
  /* height: 120vh; */
  top:615vh;
  /* border: solid 2px red; */
}

#vote-to-skip-text{
  padding-top: 0;
}


 #vote-right{
   top: 100vh;
   height: 100vh;
   background-color: #28b954;
   margin-left: 0;
 }

 #vote-right img{
   /* display: none; */
   max-width: 60%;
 }

 #vote-right video{
   /* display: none; */
   max-width: 50%;
 }

 footer{
   /* display: none; */
   top: 818vh;
   line-height: 15px;
   font-size: 20px;
   color: white;
 }


 footer a{
   color: white;
 }

 #footer{
   display: none;
 }
}
