@font-face {
  font-family: 'circular';
  src: url('circular.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'circular-bold';
  src: url('circular-bold.ttf'); /* IE9 Compat Modes */
}

::-webkit-scrollbar {
  display: none;
}

body, html{
  height: 100%;
  margin: 0;
}

body{
  overflow-x: hidden;
}

nav{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 50px;
  background-color: #181818;
  opacity: .9;
  font-family: circular;
  color: white;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav > ul {
	display: flex;
}

nav > ul > li {
	flex: 1;
}

nav > ul > li:last-of-type {
	border-right: 1px solid #666;
}

nav ul li a {
  color:white;
	display:block;
	width:200px;
	border-left: 1px solid #666;
	height:50px;
	line-height:50px;
	padding:0 10px;
	text-align:center;
	text-decoration:none;
}

nav ul li a:hover{
  opacity: .8;
}

nav ul #contact a{
  float:right;
}

.section{
  margin: auto 0;
  height: 100vh;
  width: 100%;
  border:solid 2px black;
  box-sizing: border-box;
}

.section p{
  color:#555555;
  font-family: circular;
  font-weight: 400;
  font-size: 25px;
  line-height: 50px;
}

.section h1{
  font-family: circular-bold;
  line-height: 74px;
  letter-spacing: -3px;
  font-size: 64px;
  font-weight: 900;
}

.room{
  padding-top:12.5%;
  padding-left:5%;
  padding-right:5%;
}

.room #right{
  position: absolute;
  height:100%;
  top:0px;
  right: 0;
  z-index: -1;
}

.room p{
  line-height: 80px;
  font-size: 25px;
  color:#555555;
  font-family: circular;
}

#learn-more{
  padding:20px;
  width: 200px;
  border-radius: 100px;
  text-align: center;
  background-color: #28B954;
  font-family: circular-bold;
  line-height: 16px;
  font-size: 16px;
  font-weight: 700;
}

#learn-more a{
  color:white;
  text-decoration: none;
}

#learn-more:hover{
  background-color:#2FD75F;
}

.purpose{
  background: url('images/squiggle-top.svg') no-repeat;
  background-size: cover;
  padding-top:10%;
  padding-left:5%;
  padding-right:5%;
}

.works{
  background: url('images/squiggle-bottom.svg') no-repeat;
  background-size: cover;
  padding-top:10%;
  padding-left:5%;
  padding-right:5%;

  /* box-sizing: border-box;
  border: solid 2px blue; */
  display: flex;
  position: relative;
}

.works-right{
  /* box-sizing: border-box;
  border: solid 2px orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -5%;
  top: 30%;
  width: 60%;
}

.works-right img{
  max-width: 70%;
  height:auto;
  width:auto;
  display: block;
}

.works-left{
  position: absolute;
  left:0;
  padding-left: 5%;
  width: 50%;
}

























.skip{
  background: url('images/footer.svg') no-repeat;
  background-size: cover;
  padding-top:5%;
  padding-left:5%;
  padding-right:5%;

  text-align: right;
}

.skip p{
  width:45%;
  float: right;
}





/* half half */

#container{
/*Size of the nav bar height*/
  /*Originally just this*/
  display: flex;
}

section{
  width: 50%;
}


.left-green{
  background-color: #28b954;
}

.left-outline{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  /* border: solid 2px orange; */
}

.left-outline img{
  /* margin-top: -10%; */
  max-width: 40%;
  height:auto;
  width:auto;
}


@media (max-width: 700px){
  #logo{
    left:0;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  #time{
    font-size: 16px;
    text-align: center;
  }

  p{
    font-size: 15px;
  }

  .left-outline{
    width:100%;
    height:auto;
    float:none;
  }

  #right-outline{
    position: absolute;
    top:100%;
    width:100%;
    float:none;
  }

  #right-contents p img{
    display: none;
  }

  .left-outline img{
    max-width: 80%;
    height:auto;
    width:auto;
  }
}


#right-outline{
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 10%;
  right:0px;
  height: 65%;
  display: block;
}

#right-contents{
  padding: 60px 60px 60px 60px;
}

#right-outline::-webkit-scrollbar {
    display: none;
}

#right-outline img{
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  width:75%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.join-or-host{
  height: 75px;
  font-size: 25px;
  font-family: circular-bold;
  width: 100%;
  position: absolute;
  /* background-color: #181818; */
  text-align: center;
}

.join-or-host #host-left{
  width: 50%;
  float: left;
  color:white;
}

.join-or-host #host-right{
  width: 50%;
  float: right;
  color:#D8D8D8;
}

 footer{
  position: absolute;
  margin-top:-125px;
  text-align: center;
  width: 100%;
  color:white;
  line-height: 20px;
  font-family: circular;
  font-size: 15px;
}

footer a{
  color:white;
}
