
.right-blue{
  background-color: #23b5d3;
}



p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}


.container{
/*Size of the nav bar height*/
  /*Originally just this*/
  display: flex;
}

section{
  width: 50%;
}

.image-right-outline{
  position: relative;
  margin-left: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
}

.text-left-outline{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 10%;
  left:0;
  height: 65%;
  display: block;
}

.image-right-outline img{
  max-width: 50%;
  height:auto;
  width:auto;
}


.text-left-contents{
  padding: 60px 60px 60px 60px;
}

.text-left-outline::-webkit-scrollbar {
    display: none;
}
